* text=auto !eol
ArrayGraphBook/ArrayGraphBookPrePublicationDraft.pdf -text
Graph500cpp/Makefile-neumann -text
Graph500cpp/graph500.cpp -text
Matlab/apsp/apsp.m -text
Matlab/apsp/min_plus.m -text
Matlab/spindex/PAQdiary.txt -text
Matlab/spindex/hcatf.m -text
Matlab/spindex/hcatm.m -text
Matlab/spindex/indextimetest.m -text
Matlab/spindex/spaddf.m -text
Matlab/spindex/spasgnm.m -text
Matlab/spindex/sppluseqm.m -text
Matlab/spindex/sprefm.m -text
Matlab/spindex/vcatf.m -text
Matlab/spindex/vcatm.m -text
Matlab/startup.m -text
Matlab/stuff/betwCentrality.m -text
Matlab/stuff/kronecker_generator.m -text
Matlab/stuff/parallelRmatScript.m -text
Matlab/stuff/rstats.m -text
Matlab/utils/rmat.m -text
Matlab/utils/testmat.m -text
Python/DiGraph.py -text
Python/Graph.py -text
Python/Graph500.py -text
Python/pyCombBLAS/DiGraph.cpp -text
Python/pyCombBLAS/DiGraph.h -text
Python/pyCombBLAS/DiGraph.i -text
Python/pyCombBLAS/Makefile -text
