* text=auto !eol
ArrayGraphBook/ArrayGraphBookPrePublicationDraft.pdf -text
CombBLAS/Applications/BetwCent.cpp -text
CombBLAS/Applications/CMakeLists.txt -text
CombBLAS/Applications/Driver.cpp -text
CombBLAS/Applications/MCL.cpp -text
CombBLAS/Applications/makefile-lonestar -text
CombBLAS/Applications/makefile-mac -text
CombBLAS/Applications/makefile-neumann -text
CombBLAS/CMakeLists.txt -text
CombBLAS/CommGrid.cpp -text
CombBLAS/CommGrid.h -text
CombBLAS/Compare.h -text
CombBLAS/Deleter.h -text
CombBLAS/DenseParMat.cpp -text
CombBLAS/DenseParMat.h -text
CombBLAS/DenseParVec.cpp -text
CombBLAS/DenseParVec.h -text
CombBLAS/Doxyfile -text
CombBLAS/Friends.h -text
CombBLAS/HeapEntry.h -text
CombBLAS/Isect.h -text
CombBLAS/LocArr.h -text
CombBLAS/MMmul.h -text
CombBLAS/MPIType.cpp -text
CombBLAS/MPIType.h -text
CombBLAS/MainPage.h -text
CombBLAS/MemoryPool.cpp -text
CombBLAS/MemoryPool.h -text
CombBLAS/Operations.h -text
CombBLAS/ParFriends.h -text
CombBLAS/ReleaseTests/CMakeLists.txt -text
CombBLAS/ReleaseTests/IteratorTest.cpp -text
CombBLAS/ReleaseTests/MultTest.cpp -text
CombBLAS/ReleaseTests/MultTiming.cpp -text
CombBLAS/ReleaseTests/ReduceTest.cpp -text
CombBLAS/ReleaseTests/TransposeTest.cpp -text
CombBLAS/ReleaseTests/makefile-lonestar -text
CombBLAS/ReleaseTests/makefile-mac -text
CombBLAS/ReleaseTests/makefile-neumann -text
CombBLAS/Semirings.h -text
CombBLAS/SequenceHeaps/heap-CLR.h -text
CombBLAS/SequenceHeaps/heap2.h -text
CombBLAS/SequenceHeaps/heap4.h -text
CombBLAS/SequenceHeaps/hold.C -text
CombBLAS/SequenceHeaps/knheap.C -text
CombBLAS/SequenceHeaps/knheap.h -text
CombBLAS/SequenceHeaps/knupdown3.C -text
CombBLAS/SequenceHeaps/knwiggle.C -text
CombBLAS/SequenceHeaps/multiMergeUnrolled.C -text
CombBLAS/SequenceHeaps/util.h -text
CombBLAS/SpDCCols.cpp -text
CombBLAS/SpDCCols.h -text
CombBLAS/SpDefs.h -text
CombBLAS/SpHelper.h -text
CombBLAS/SpMat.cpp -text
CombBLAS/SpMat.h -text
CombBLAS/SpParHelper.h -text
CombBLAS/SpParMat.cpp -text
CombBLAS/SpParMat.h -text
CombBLAS/SpParVec.cpp -text
CombBLAS/SpParVec.h -text
CombBLAS/SpTuples.cpp -text
CombBLAS/SpTuples.h -text
CombBLAS/StackEntry.h -text
CombBLAS/dcsc.cpp -text
CombBLAS/dcsc.h -text
CombBLAS/promote.h -text
Graph500cpp/Makefile-neumann -text
Graph500cpp/graph500.cpp -text
Matlab/apsp/apsp.m -text
Matlab/apsp/min_plus.m -text
Matlab/spindex/PAQdiary.txt -text
Matlab/spindex/hcatf.m -text
Matlab/spindex/hcatm.m -text
Matlab/spindex/indextimetest.m -text
Matlab/spindex/spaddf.m -text
Matlab/spindex/spasgnm.m -text
Matlab/spindex/sppluseqm.m -text
Matlab/spindex/sprefm.m -text
Matlab/spindex/vcatf.m -text
Matlab/spindex/vcatm.m -text
Matlab/startup.m -text
Matlab/stuff/betwCentrality.m -text
Matlab/stuff/kronecker_generator.m -text
Matlab/stuff/parallelRmatScript.m -text
Matlab/stuff/rstats.m -text
Matlab/utils/rmat.m -text
Matlab/utils/testmat.m -text
Python/DiGraph.py -text
Python/Graph.py -text
Python/Graph500.py -text
