/.KDT_log
CombBLAS/ReleaseTests/.dep.inc
CombBLAS/graph500-1.2/generator/libgraph_generator_seq.a
CombBLAS/makefile
examples/.KDT_log
examples/Graph500.pyc
kdt/*.pyc
kdt/.KDT_log
kdt/_pyCombBLAS.so
kdt/pyCombBLAS/*.a
kdt/pyCombBLAS/*.o
kdt/pyCombBLAS/*.pyc
kdt/pyCombBLAS/*.so
kdt/pyCombBLAS/Makefile
/temp_fullydistspvec
/temp_fullydistvec
test/*.pyc
test/.KDT_log
test/temp_fullydistspvec
test/temp_fullydistvec
*.o
SpGEMM3D
mcl3d
_build
_install
.clangd
.cache
